@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
.portfolio-container{
    min-height: 100vh;
    width: 100%; 
    display: flex;
}
.left-container, .right-container{
    height: 100vh;
    padding: 3rem;
    display: flex;
    
}
.left-container{
    background: #262525 ;
    width: 70%;
}
.right-container{
    background: linear-gradient(45deg,#3877FF, #262525 85%) ;
    width: 30% ;
    background-image: url("image.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}
.about h1{
    color: #3877FF;
    font-size: 5rem;
}
.about p{
    color: white;
    max-width: 50rem;
    padding: 2%;
}